@model IEnumerable<SC.Models.Respon>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Respon</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>
<table class="table" id="TableRespon1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResponId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keluhan.TanggalKeluhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeluhanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Keluhan.KeluhanMahasiswa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponKeluhan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResponId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keluhan.TanggalKeluhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeluhanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keluhan.KeluhanMahasiswa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponKeluhan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResponId">Edit</a> |

                <a asp-action="Remove"  asp-route-id="@item.ResponId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
