@model IEnumerable<SC.Models.Keluhan>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdmin";
}

<h1>Keluhan</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create</a>
</p>
<table class="table" id="TableKeluhan1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KeluhanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.ProfileMahasiswa.Prodi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalKeluhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeluhanMahasiswa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KeluhanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.ProfileMahasiswa.Prodi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalKeluhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeluhanMahasiswa)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KeluhanId }, new { @class = "fa fa-edit" }) |

            @Html.ActionLink("Remove", "Remove", new { id = item.KeluhanId }, new { @class = "fa fa-trush" })
            </td>
        </tr>
}
    </tbody>
</table>
