@model SC.Models.Keluhan

@{
    ViewData["Title"] = "Remove";
}

<h1>Remove</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Keluhan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeluhanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeluhanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.ProfileMahasiswa.Prodi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.ProfileMahasiswa.Prodi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalKeluhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalKeluhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeluhanMahasiswa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeluhanMahasiswa)
        </dd>
    </dl>
    
    <form asp-action="Remove">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
